{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": ["prettier", "testing-library", "jest-dom"],
  "extends": [
    "eslint:recommended",
    "react-app",
    "react-app/jest",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/electron",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "prettier/prettier": "error",
    "react-hooks/exhaustive-deps": "off"
  }
}
